@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html.light {
  --bg-color: #fff;
  --text-color: #000;
}

html.dark {
  --bg-color: #111;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* .nav-links {
  display: flex;
  gap: 1rem;
} */

.analytics-page {
  padding: 4rem 10rem 10rem 10rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: #746f6f;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.clickable {
  cursor: pointer;
}
